@font-face {
    font-family: Futura-Light;
    src: url("../../fonts/Futura\ Std\ Light.ttf");
}

@font-face {
    font-family: Futura;
    src: url("../../fonts/Futura/Futura\ Heavy\ font.ttf");
}

.layouts_container {
    background-color: #fff9f1;
    width: 100%;

    .mainContent {
        width: 100%;
        box-sizing: border-box;
        position: relative;
        padding-top: 10px;

        @media (max-width: 800px) {
            padding: 0px 10px;
        }

        @media (min-width: 2750px) {
            width: 2750px;
            margin: auto;
        }
    }
}
