.market_container {
    width: 100%;
    overflow-x: hidden;
    font-family: Futura-Light;
    box-sizing: border-box;
    display: flex;
    padding-bottom: 73px;

    .sideBar {
        flex: 464.5;
        box-sizing: border-box;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .pageButtons {
            display: flex;
            align-items: center;

            .ccnBtns {
                margin-right: 30px;

                div {
                    margin: 2.5px 0px;
                }
            }

            .tadaBtns {
                div {
                    margin: 7.5px 0px;
                }
            }
        }

        .categoryBtns {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .listBtn {
                width: 242px;
                height: 45px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 25px;
                color: white;
                background-color: black;
                line-height: 27px;
                border-radius: 15px;
                margin-bottom: 6.5px;
                cursor: pointer;
                filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.5));
            }

            .categoryItem {
                width: 242px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: 2.5px 0px;

                .categoryImg {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .contentPanel {
        flex: 1455.5;
    }
}

.columnFlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
