.activity {
    max-width: 1710px;
    font-family: Futura;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    color: #333;

    .selectBoxes {
        display: flex;
        column-gap: 15px;

        .selectBox {
            width: 288px;
            border: 1px solid #808080;
            border-radius: 15px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }
    }

    .headRow {
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        padding: 17px 0px;
        border-bottom: 1px solid rgba(79, 79, 79, 0.3);
    }
}