.sidebar_container {
    font-family: Futura-Light;
    flex: 1;
    box-sizing: border-box;
    padding-top: 85px;

    .sidebar_item {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        padding-bottom: 20px;

        .sidebar_icon {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            img {
                width: 32px;
                height: 32px;
                padding-right: 45px;
                cursor: pointer;
            }
        }

        .sidebar_context {
            flex: 1;
            font-weight: lighter;
            font-size: 25px;
            line-height: 27px;
            color: #4f4f4f;
        }
    }
}
